*{
    font-family: 'Trebuchet MS',  sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
}
body{
    background: rgba($color: #000000, $alpha: 0.5);
}
.backToTop {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid rgb(77, 151, 78);
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
.backToTop a{
    color: rgb(77, 151, 78);
    display: block;
    margin: auto;
}
// Div Header
header{
    position: relative;
    max-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            overflow: hidden;
            max-width: 1155px;
            margin: 0 auto;
            border-bottom: black 1px solid;
    img{
        height: 400px;
        max-width: 1155px;
    }
}
input{
    border: 0;
}
.burger{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    border: black 1px solid;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    
}
h1, h2{
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
}
h1{
    margin-top: 3rem;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
h2{
    margin: 0;
    font-size: 1rem;
}
.titres{
    position: absolute;
}
.menuDeroulant{
    display: none;
    position: absolute;
    background: white;
    top: 3rem;
    width: 100%;
    max-width: 1155px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}
li{
    list-style: none;
    margin: 0.5rem;
}
li:hover{
    cursor: pointer;
}
input[type=submit]:hover{
    cursor: pointer;
}
ul{
    margin: 0;
    padding-left: 1rem;
}
.active{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}
// Div recherche
.recherche{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
    position: absolute;
    bottom: 2rem;
    width: 90%;
    text-align: center;
}
.spanRecherche{
    padding: 0.5rem;
    background: rgba($color: #C7BEB8, $alpha: 0.7);
}
input[type=date]{
    width: 100%;
    margin-top: 0.5rem;
    color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 3px;
    padding: 0.3rem 0;
}
input[type=submit]{
    background: rgba(77, 151, 78, 0.8);
    padding: 0.6rem 0;
    color: white;
}
select{
    color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 3px;
    padding: 0.3rem 0;
    width: 100%;
    height: 29.60px;
}
#selectAdresse{
    border: 0;
}
// Div Main
main{
    max-width: 1155px;
    margin: 0 auto;
    background: white;
    position: relative;
}
.centreDiv{
    background: rgba($color: #C7BEB8, $alpha: 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    border-bottom: black 1px solid;
}
.fleche{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.imgDiv{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.textDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    position: relative;
    margin-left: 1rem;
    select{
        color: black;
        background: #E6E6E6;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    input{
        border-radius: 3px;
        margin-left: 1rem;
    }
}
.arrow{
    font-size: 1.5rem;
}
.arrow:hover{
    cursor: pointer;
}
.burger:hover{
    cursor: pointer;
}
#prixCroissant{
    width: 120px;
    background: rgba($color: #000000, $alpha: 0.1);
}
#positionPrixCroissant{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: space-between;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  border-bottom: 1px solid black;
    p{
        margin: 0;
    }
}
main{
    input[type=submit]{
        background: rgb(77, 151, 78);
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
        text-align: center;
    }
}
.description{
    font-size: 0.8rem;
}
h3{
    margin-left: 1rem;
    text-align: center;
}
// Div Footer
footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1155px;
    margin: 0 auto;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    img{
        height: 60px;
        margin-right: 0.5rem;
    }
    p{
        font-size: 0.45rem;
        margin: 0;
    }
    span{
        font-weight: bolder;
    }
}
#page2{
    .centreDiv{
        display: none;
    }
}
@media all and (min-width:768px){
    .recherche{
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .spanRecherche{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 692px;
        padding: 0.5rem;
    select{
        padding: 0;
        }
        input{
            margin-top: 0;
        }
        div, select{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }
        div{
            padding-left: 0.5rem;
        }
    }
    input[type=submit]{
        margin-top: 0;
        width: 708px;
    }
    .textDiv{
        
        input{
            width: 160px;
            margin-top: 3rem;
        }
    }
    .menuDeroulant{
        top: 7rem;
        background: rgba($color: #C7BEB8, $alpha: 0.3);
            }      
}
@media all and (min-width: 1024px){
    .recherche{
        width: 922px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
        input[type=submit]{
            padding: 0;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }
    }
    .spanRecherche{
        -webkit-box-flex: 3;
            -ms-flex: 3;
                flex: 3;
    }
   .menuDeroulant{
       top: 8.5rem;
   }
}
@media all and (max-width: 500px){
    .centreDiv{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .centreDiv{
        margin: 0 auto;
        img{
            margin: 0 auto;
        }
        h3{
            text-align: left;
            margin-left: 0;
        }
        input[type=submit]{
            margin-bottom: 1rem;
        }
    }
}