.logo {
  width: 100px;
}
.nav-item {
  position: relative;
}

#slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
#slider {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
#page2 {
  min-height: 1px;
}
#page2 .card-group{
  display: none;
}

.test {
  background-color: blue;
  width: 100%;
  -webkit-animation: heightExpand 1s ease-in forwards;
          animation: heightExpand 1s ease-in forwards;
}

@-webkit-keyframes heightExpand{
  from {
    height: 0;
  }
  to {
    height: 100px
  }
}

@keyframes heightExpand{
  from {
    height: 0;
  }
  to {
    height: 100px;
  }
}




.animation-title {
  -webkit-animation: changeBGColorAlt 4s linear forwards;
          animation: changeBGColorAlt 4s linear forwards;
}





@-webkit-keyframes changeBGColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: antiquewhite;
  }
}


@keyframes changeBGColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: antiquewhite;
  }
}

@-webkit-keyframes changeBGColorAlt {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: antiquewhite;
  }
}

@keyframes changeBGColorAlt {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: antiquewhite;
  }
}