html {
  scroll-behavior: smooth;
}

.animation-container {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  background-color: blue;
}

.boxToAnimate {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color:red;
}

#slider {
  width: 500px;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
}

.backToTop a{
  color: black;
  display: block;
  margin: auto;
}

.fixed {
  position : fixed;
}

.red {
  color: red;
}

.burger {
  display: none;
}

.burger.active {
  display:block
}


