*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;   
    margin: 0;
    padding: 0;
    font-size: 100%;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot');
    src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff2'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{
    font-family: 'robotoregular', sans-serif;
    scroll-behavior: smooth;
    color: #333;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

a:active{
    color: inherit;
}

.headband{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    height: 50px;
    padding: 0 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#section-about-me{
    padding-top: 0;
}

.btn-hamburger {
    position: -webkit-sticky;
    position: sticky;
    z-index: 50;
    font-size: 24px;
    cursor: pointer;
    border: 0;
    background: 0;
    padding: 0;
    outline: 0;
    color: #333; 
}

#menu-open{
    display: none;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #333;
            box-shadow: 0 0 10px #333;
}

.dot{
    color: #0074D9;
}

.about-me{
    padding: 0 20px;
}

.headband p {
    font-weight: bold;
    font-size: 18px;
}

.menu a{
    list-style: none;
    margin: 15px 0;
    color: white;
    font-size: 14px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0074D9;
    height: 100vh;
    width: 100%;
    z-index: 40;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.nav-open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
  }

h1{
    font-size: 28px; 
    margin-bottom: 10px;
}

p{
    opacity: 0.9;
}

.about-me-info{
    margin-bottom: 10px;
}

.span-title{
    font-size: 13px;
    text-transform: uppercase;
}

.grid-contact{
    display: grid;
    grid-template-columns: 100px 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.5px;
}

.grid-contact:last-child{
    margin-bottom: 0;
}

.site-btn {
    display: inline-block;
    min-width: 170px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site-btn {
    background: #0074D9;
}

.btns{
    margin-top: 15px;
    color: white;
}


.site-btn:hover{
    -webkit-box-shadow: 10px 10px 20px rgb(0 116 217 / 20%);
            box-shadow: 10px 10px 20px rgb(0 116 217 / 20%);
}

h2{
    font-size: 24px;
}

section{
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 0;
}

#portfolio{
    border-bottom: none;
}

#competences{
    border-top: 1px solid #e3e3e3;
}

h4, h2{
    margin-bottom: 7.5px;
}

h4{
    font-size: 18px;
}

.content-list{
    margin-top: 15px;
}

.content-list.center{
    border-bottom: 1px solid #e3e3e3;
}

.content-list.center p{
    margin-bottom: 15px;
}

h2{
    margin-bottom: 10px;
}

.portfolio-container-img{
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 220px));
    grid-gap: 20px;
}

.hidden{
    overflow: hidden;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    position: relative;
}

.portfolio-img img{     
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
}

#portfolio{
    padding: 20px;
    margin: 0 auto;
}

.portfolio-nav{
    margin-bottom: 10px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

figcaption{
    font-weight: 700;
    margin: 10px 0 5px 0;
}

footer div{
    background: rgba(0,0,0, 0.1);
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.regular{
    font-weight: normal;
    opacity: 0.9;
    font-style: italic;
}

.about-me{
    padding-top: 60px;
}

.section-content{
    padding: 0 20px;
}

.open-site{
    color: #0074D9;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.open-site:hover{
    text-decoration: underline;    
}

.text-underline{
    text-decoration: underline;
    font-style: italic;
    opacity: 0.9;
}


.btn-img{
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.btn-img a{
    color: white;
}

h2{
    color: #0074D9;
}

/* MEDIA QUERIES */

@media all and (min-width:500px){
    .portfolio-container-img{
        grid-template-columns: repeat(2, minmax(220px, 340px));
    }
}

@media all and (max-width: 990px){
    body{
    font-size: 14px;
    line-height: 1.4;
    }
    
    .about-me, .headband, .section-content, #portfolio, #accueil {
        max-width: 700px;
        margin: 0 auto;
    } 
}

@media all and (min-width: 991px){

    .material-icons.btn-hamburger{
        display: none;
    }

    .menu{
        position: relative;
        height: auto;
        -webkit-transform: inherit;
            -ms-transform: inherit;
                transform: inherit;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
            -ms-flex-direction: inherit;
                flex-direction: inherit;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        background-color: inherit;
        color: black;
        -webkit-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }
    
    .menu a {
        color: #333;
        margin: 0 20px;
        font-weight: 600;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .menu a:hover{
        color: #0074D9;
        text-decoration: underline;
    }
    
    .portfolio-container-img{
        grid-template-columns: repeat(3, minmax(220px, 340px));
    }
    
    .about-me, .headband, .section-content, #portfolio, #accueil {
        max-width: 1100px;
        margin: 0 auto;
    } 
    
}

@media all and (min-width:1460px){
    .portfolio-container-img{
        grid-template-columns: repeat(4, minmax(220px, 340px));
    }

    .about-me, .section-content, .headband, #portfolio, #accueil {
        max-width: 1460px;
        margin: 0 auto;
    } 
}

